<header>
 <!-- Adjust `navbar-expand-md` to `navbar-expand-sm` if you want it to collapse sooner -->
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark custom-navbar-color">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/images/Earth_Horizon_transparent_white_text.png" alt="EHP Logo" class="d-inline-block align-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/deck">Deck</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/faq">FAQ</a>
          </li>
        </ul>
        <span class="navbar-text">
          <a class="nav-link" href="tel:+15035120333">(503) 512-0333</a> 
          <a class="nav-link" href="mailto:roger.parkinson@ehp.dev">Contact@ehp.dev</a>
          <a class="nav-link " href="https://www.linkedin.com/company/event-horizon-partners/about/"><img src="{{ site.baseurl }}/assets/images/linkedin_icon.png" alt="LinkedIn"></a>
          <a class="nav-link" href="https://calendly.com/roger-parkinson-ehp/30min">Calendly</a>
        </span>
      </div>
    </div>
  </nav>
</header>