<!-- UTM handeled by Script.js-->
<!-- header.html -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3a3a3a; height: 60px;">
  <a class="navbar-brand" href="#">
    <img src="{{ site.baseurl }}/assets/images/Earth_Horizon_transparent_white_text.png" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/deck">Deck</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/faq">FAQ</a>
      </li>
    </ul>
  </div>
</nav>


  