/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #2b2b2b;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background: #3a3a3a; /* Consistent color */
  color: white;
  padding: 0.5em 0; /* Reduced padding */
}

/* Footer Styles */
footer {
  padding: 1rem 0;
  background: #3a3a3a !important;
  color: white;
  text-align: center;
  margin-top: auto;
}

footer .container {
  max-width: 100%;
}

footer img {
  margin-top: 0.25rem;
  width: 250px; /* 100% increase in size */
  height: auto;
}

/* Navbar Links */
.nav-link {
  color: white !important;
}

/* Navbar Logo */
header img {
  height: 90px; /* 50% larger */
  width: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* Welcome Banner */
.welcome-banner {
  margin: 20px auto;
  max-width: 900px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.welcome-banner img {
  width: 300px; /* 200% larger */
  height: auto;
  display: block;
  margin: 0 auto;
}

.welcome-banner p {
  margin-top: 10px; /* Closer to the logo */
  font-size: 1.2em;
}

h1 {
  margin: 30px 0;
  font-size: 2em;
  line-height: 1;
  letter-spacing: -1px;
}

iframe {
  border: none;
  width: 100%;
  height: 90vh;
}

img {
  height: 60px; /* Adjust height to fit within navbar */
  width: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* Card Styles */
.card {
  background-size: cover; /* Ensure the image fills the card */
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 400px; /* Increased height */
}

.card-body {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btn-custom {
  background-color: rgb(233, 107, 5); /* Button color */
  color: #2b2b2b; /* Button text color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-custom:hover {
  background-color: #e07b00; /* Darker shade for hover effect */
}

.faq-container {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  color: #f5f5f5;
  max-width: 900px;
  margin: 20px auto;
}

.faq-container h1, .faq-container h2, .faq-container h3 {
  color: rgb(233, 107, 5);
}

.faq-container p, .faq-container ul, .faq-container ol {
  color: #f5f5f5;
}

.faq-container ul, .faq-container ol {
  padding-left: 20px;
}

.faq-container li {
  margin-bottom: 10px;
}
