/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #2b2b2b;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header, footer {
  background: #3a3a3a; /* Slightly lighter than the body color */
  color: white;
  padding: 0.5em 0; /* Reduced padding */
}

/* Navbar and Footer */
.navbar, .footer {
  background-color: #3a3a3a; /* Slightly lighter than body */
  height: 60px; /* Adjusted height */
  line-height: 60px; /* Center text vertically */
}

/* Navbar Links */
.nav-link {
  color: white !important;
}

.welcome-banner {
  margin: 20px auto;
  max-width: 900px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  margin: 30px 0;
  font-size: 2em;
  line-height: 1;
  letter-spacing: -1px;
}

iframe {
  border: none;
  width: 100%;
  height: 90vh;
}

img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* Card Styles */
.card {
  background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  height: 300px; /* Adjust height as needed */
}

.card-body {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.faq-container {
  background: #333;
  padding: 20px;
  border-radius: 10px;
  color: #f5f5f5;
  max-width: 900px;
  margin: 20px auto;
}

.faq-container h1, .faq-container h2, .faq-container h3 {
  color: rgb(233, 107, 5);
}

.faq-container p, .faq-container ul, .faq-container ol {
  color: #f5f5f5;
}

.faq-container ul, .faq-container ol {
  padding-left: 20px;
}

.faq-container li {
  margin-bottom: 10px;
}
